body {
  font-family: 'Playfair Display', serif !important;
}

hr {
  margin-top: 60px !important;
  width: 95%;
}

a {
  font-size: 22px;
  color: black !important;
  transition: 0.4s;
}

a:hover {
  background-color: #e2e2e2;
}

.header {
  line-height: 85% !important;
}

.logo {
  margin-top: -70px !important;
  width: 200px;
}

.numero {
  font-weight: bold;
  font-size: 25px;
  color: black !important;
}

.navabar_margin_top {
  margin-top: auto !important;
}
