body {
  font-family: 'Playfair Display', serif !important;
  position: relative;
}

hr {
  margin-top: 60px !important;
  width: 95%;
}

a {
  font-size: 22px;
  color: black !important;
  transition: 0.4s;
}

a:hover {
  background-color: #e2e2e2;
}

.header {
  line-height: 85% !important;
}

.logo {
  margin-top: -70px !important;
  width: 200px;
}

.numero {
  font-weight: bold;
  font-size: 25px;
  color: black !important;
}

.navabar_margin_top {
  margin-top: -8px !important;
}

.photo_sophro {
  width:23em;
  margin-right: -50px !important;
}

.p_size {
  font-size: 150%;
}

.p_size_contact {
  font-size: 170%;
}

.max_width {
  max-width: 40%;
}

#accueil{
  background: url(lac.jpg);
  background-position: center;
  background-size: cover;
}

#sophrologie{
  background: url(montagnes.jpg);
  background-attachment: fixed;
  background-size: cover;
}

#coherence_cardiaque {
  background: url(coherence_cardiaque.jpg);
  background-size: cover;
  background-position: bottom;
}

#atmosphere {
  background: url(atmosphere.jpg);
  background-attachment: fixed;
  background-size: cover;
}

#contact {
  background: url(image_thierry.jpg);
  background-size: cover;
  background-position: bottom;
}

#tarifs {
  background: url(foret.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}

@media only screen and (max-width: 600px)  {
  .margin-responsive {
    margin-left: -50px;
    margin-right: -110px;
    margin-bottom: 20%;
    line-height: 120%;
  }
  .photo_sophro {
    width: 150% !important;
    margin-right: auto;
  }
}
