html {
   scroll-behavior: smooth;
}

body {
  font-family: 'Playfair Display', serif !important;
  position: relative;
}

hr {
  margin-top: 60px !important;
  width: 95%;
}

a {
  font-size: 22px;
  color: black !important;
  transition: 0.4s;
}

strong  {
  font-size: normal;
  text-decoration: none;
  font-weight: normal !important;
}

a:hover {
  background-color: #e2e2e2;
}

.header {
  line-height: 85% !important;
}

.logo {
  margin-top: -70px !important;
  width: 200px;
}

.numero {
  font-weight: bold;
  font-size: 25px;
  color: black !important;
}

.coherence_cardiaque_word_spacing {
  word-spacing: -3.5px;
}

.navabar_margin_top {
  margin-top: -8px !important;
}

.p_size {
  font-size: 150%;
}

.p_size_horaires{
  font-size: 180%;
  margin-top:-2% ;
}

.p_size_margin_contact {
  font-size: 180%;
  margin-bottom: -1%;
  margin-top: 2%;
}

.button_size {
  font-size: 150%;
}

#accueil{
  background: url(lac.jpg);
  background-position: center;
  background-size: cover;
}

#sophrologie{
  background: url(montagnes.jpg);
  background-attachment: fixed;
  background-size: cover;
}

#coherence_cardiaque {
  background: url(coherence_cardiaque.jpg);
  background-size: cover;
  background-position: center;
}

#contact {
  background: url(cabinet.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#tarifs {
  background: url(foret.jpg);
  background-size: cover;
  background-position: bottom;
}
